employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  
             xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
             xmlns:xerces="http://xerces.apache.org">
  <xs:element name="employee">
   <xs:complexType>
    <xs:sequence>
  	  <xs:element type="xs:int" name="employeeId"/>
  	  <xs:element type="xs:string" name="firstName"/>
  	  <xs:element type="xs:string" name="lastName"/>
  	  <xs:element type="xs:date" name="joiningDate"/>
  	  <xs:element type="DepartmentType" name="department"/>
  	</xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:simpleType name="DepartmentType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="HR"/>
      <xs:enumeration value="FINANCE"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="OPERATIONS"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- <xs:complexType name="HousesType">
    <xs:sequence>
      <xs:element type="HouseType" name="HOUSE" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseType">
    <xs:sequence>
      <xs:element type="StateType" name="STATE"/>
      <xs:element type="xs:string" name="ADDRESS"/>
      <xs:element type="xs:int" name="AREA"/>
      <xs:element type="xs:int" name="BASEMENTSIZE" minOccurs="0"/>
      <xs:element type="xs:int" name="POOLSIZE" minOccurs="0"/>
    </xs:sequence>
    <xs:assert test="(not(STATE = 'TX') and not(STATE = 'WA')) or BASEMENTSIZE"
               xerces:message="BASEMENTSIZE is required for all houses in WA and TX"/>
    <xs:assert test="not(STATE = 'FL') or POOLSIZE"
               xerces:message="POOLSIZE is required for all houses in FL"/>
    
  </xs:complexType>
  <xs:simpleType name="StateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TX"/>
      <xs:enumeration value="WA"/>
      <xs:enumeration value="FL"/>
    </xs:restriction>
  </xs:simpleType> -->
</xs:schema>
